@import "tailwindcss";

#root{
    min-height: 100vh;
}
body{
 background-color: black;
     background-image: linear-gradient(0deg, #7700ff 1%, transparent 75%);

}

.navlink{
    position: relative;
    display: flex ;
    background-color: #ebebeb; 
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    height: 48px;
    cursor: pointer;
    transition: 300ms;
    color: black;
    outline: none;
    border-radius: 8px;
    padding: 8px 12px; 
    box-shadow: rgba(255, 255, 255, 0.16) 0px 2px 8px, rgb(184, 184, 184) 0px 1px 1px inset;
}
.link{
box-shadow: rgb(255 144 254) 0px 1px 1px 0px inset, rgba(3, 3, 3, 0.16) 0px 2px 6px 0px;
}

@keyframes diagonalGradient {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 200% 200%;
  }
}

.loading-screen {
  position: fixed;
  inset: 0;
  background: linear-gradient(
    45deg,
    #a75bff 25%,
    #0038db 50%,
    #a75bff 75%
  );
  background-size: 200% 200%;
  animation: diagonalGradient 3s linear infinite;
}
